$font-sans: sans-serif;
$font-serifs: Georgia, serif;

.state {
  stroke-linejoin: round;
  stroke: #FFFFFF;

  font-size: 14px
}

.q0-4 text { fill: #001966; }
.q1-4 text { fill: #001966; }
.q2-4 text { fill: #001966; }
.q3-4 text { fill: #d8e9f7; }


.q0-4 { fill: #eff3ff; }
.q1-4 { fill: #bdd7e7; }
.q2-4 { fill: #6baed6; }
.q3-4 { fill: #2171b5; }

#input {

	textarea {
		font-family: Mono, Courier, monospace;
		font-size: 10px;
		height: 400px
	}	
}