                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" data-map-type="choropleth" class="active"><a href="#">Choropleth</a></li>
                        <li role="presentation" data-map-type="rects"><a href="#">Rectangles</a></li>
                        <li role="presentation" data-map-type="bubbles"><a href="#">Bubbles</a></li>
                    </ul>
